.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.main-page {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar {
  width: 300px;
  background-color: #f5f5f5;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.problem-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.problem-item:hover {
  background-color: #e9ecef;
}

.difficulty-1 {
  color: #00b8a3;
}
.difficulty-2 {
  color: #ffc01e;
}
.difficulty-3 {
  color: #ff375f;
}

.problem-description {
  text-align: left;
  margin-bottom: 20px;
}

.code-editor {
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.active-link {
  color: yellow; /* You can change the color for active link */
}

/* Home Page styles */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.home-page h1 {
  font-size: 36px;
  color: #333;
}
/* CSS file */
.quiz-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
}

.answer-options {
  margin: 20px 0;
}

.answer-option {
  background-color: #e0e0e0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-option:hover {
  background-color: #ccc;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
